@charset "UTF-8";
.rounded-1 {
  border-radius: 1px !important;
}

.rounded-2 {
  border-radius: 2px !important;
}

.rounded-3 {
  border-radius: 3px !important;
}

.rounded-4 {
  border-radius: 4px !important;
}

.rounded-5 {
  border-radius: 5px !important;
}

.rounded-6 {
  border-radius: 6px !important;
}

.rounded-7 {
  border-radius: 7px !important;
}

.rounded-8 {
  border-radius: 8px !important;
}

.rounded-9 {
  border-radius: 9px !important;
}

.rounded-10 {
  border-radius: 10px !important;
}

.rounded-full {
  border-radius: 9999px !important;
}

.rounded-none {
  border-radius: 0px !important;
}

.animate-none {
  animation: none;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* 过渡 */
.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-none {
  transition-property: none;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-shadow {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-75 {
  transition-duration: 75ms;
}

.delay-75 {
  transition-delay: 75ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.delay-100 {
  transition-delay: 100ms;
}

.duration-150 {
  transition-duration: 150ms;
}

.delay-150 {
  transition-delay: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.delay-200 {
  transition-delay: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.delay-300 {
  transition-delay: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.delay-500 {
  transition-delay: 500ms;
}

.duration-700 {
  transition-duration: 700ms;
}

.delay-700 {
  transition-delay: 700ms;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.delay-1000 {
  transition-delay: 1000ms;
}

.ease-linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 转换 transform */
.transform {
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.transform-gpu {
  transform: translate3d(0, 0, 0);
}

.tranform-none {
  transform: none;
}

.origin-center {
  transform-origin: center;
}

.origin-top {
  transform-origin: top;
}

.origin-top-right {
  transform-origin: top right;
}

.origin-right {
  transform-origin: right;
}

.origin-bottom {
  transform-origin: bottom;
}

.origin-left {
  transform-origin: left;
}

.origin-bottom-right {
  transform-origin: bottom right;
}

.origin-bottom-left {
  transform-origin: bottom left;
}

.origin-top-left {
  transform-origin: top left;
}

.scale-0 {
  transform: scale(0/100);
}

.scale-x-0 {
  transform: scaleX(0/100);
}

.scale-y-0 {
  transform: scaleY(0/100);
}

.scale-50 {
  transform: scale(50/100);
}

.scale-x-50 {
  transform: scaleX(50/100);
}

.scale-y-50 {
  transform: scaleY(50/100);
}

.scale-75 {
  transform: scale(75/100);
}

.scale-x-75 {
  transform: scaleX(75/100);
}

.scale-y-75 {
  transform: scaleY(75/100);
}

.scale-100 {
  transform: scale(100/100);
}

.scale-x-100 {
  transform: scaleX(100/100);
}

.scale-y-100 {
  transform: scaleY(100/100);
}

.scale-125 {
  transform: scale(125/100);
}

.scale-x-125 {
  transform: scaleX(125/100);
}

.scale-y-125 {
  transform: scaleY(125/100);
}

.scale-150 {
  transform: scale(150/100);
}

.scale-x-150 {
  transform: scaleX(150/100);
}

.scale-y-150 {
  transform: scaleY(150/100);
}

.rotate--180 {
  transform: rotate(-180deg);
}

.rotate--135 {
  transform: rotate(-135deg);
}

.rotate--90 {
  transform: rotate(-90deg);
}

.rotate--45 {
  transform: rotate(-45deg);
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.translate-x--100 {
  transform: translateX(-100px);
}

.translate-y--100 {
  transform: translateY(-100px);
}

.translate-x--50 {
  transform: translateX(-50px);
}

.translate-y--50 {
  transform: translateY(-50px);
}

.translate-x--30 {
  transform: translateX(-30px);
}

.translate-y--30 {
  transform: translateY(-30px);
}

.translate-x--10 {
  transform: translateX(-10px);
}

.translate-y--10 {
  transform: translateY(-10px);
}

.translate-x--5 {
  transform: translateX(-5px);
}

.translate-y--5 {
  transform: translateY(-5px);
}

.translate-x-0 {
  transform: translateX(0px);
}

.translate-y-0 {
  transform: translateY(0px);
}

.translate-x-5 {
  transform: translateX(5px);
}

.translate-y-5 {
  transform: translateY(5px);
}

.translate-x-10 {
  transform: translateX(10px);
}

.translate-y-10 {
  transform: translateY(10px);
}

.translate-x-30 {
  transform: translateX(30px);
}

.translate-y-30 {
  transform: translateY(30px);
}

.translate-x-100 {
  transform: translateX(100px);
}

.translate-y-100 {
  transform: translateY(100px);
}

.skew-x--20 {
  transform: skewX(-20deg);
}

.skew-y--20 {
  transform: skewY(-20deg);
}

.skew-x--10 {
  transform: skewX(-10deg);
}

.skew-y--10 {
  transform: skewY(-10deg);
}

.skew-x--5 {
  transform: skewX(-5deg);
}

.skew-y--5 {
  transform: skewY(-5deg);
}

.skew-x-0 {
  transform: skewX(0deg);
}

.skew-y-0 {
  transform: skewY(0deg);
}

.skew-x-5 {
  transform: skewX(5deg);
}

.skew-y-5 {
  transform: skewY(5deg);
}

.skew-x-10 {
  transform: skewX(10deg);
}

.skew-y-10 {
  transform: skewY(10deg);
}

.skew-x-15 {
  transform: skewX(15deg);
}

.skew-y-15 {
  transform: skewY(15deg);
}

.skew-x-20 {
  transform: skewX(20deg);
}

.skew-y-20 {
  transform: skewY(20deg);
}

/* 不透明度 */
.opacity-0 {
  opacity: 0 !important;
}

.opacity-10 {
  opacity: 0.1 !important;
}

.opacity-20 {
  opacity: 0.2 !important;
}

.opacity-30 {
  opacity: 0.3 !important;
}

.opacity-40 {
  opacity: 0.4 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-60 {
  opacity: 0.6 !important;
}

.opacity-70 {
  opacity: 0.7 !important;
}

.opacity-80 {
  opacity: 0.8 !important;
}

.opacity-90 {
  opacity: 0.9 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

/* 文本装饰 */
.underline {
  text-decoration: underline !important;
}

.line-through {
  text-decoration: line-through !important;
}

.no-underline {
  text-decoration: no-underline !important;
}

/* 文本转换 */
.uppercase {
  text-decoration: uppercase !important;
}

.lowercase {
  text-decoration: lowercase !important;
}

.capitalize {
  text-decoration: capitalize !important;
}

.normal-case {
  text-transform: none !important;
}

/* 文本溢出 */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.overflow-clip {
  text-overflow: clip;
}

/* 字体粗细 */
.font-thin {
  font-weight: 100 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-bold {
  font-weight: 700 !important;
}

/* 字体样式 */
.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

/* 交互 */
.appearance-none {
  appearance: none;
}

.resize-none {
  resize: none;
}

.resize-y {
  resize: vertical;
}

.resize-x {
  resize: horizontal;
}

.resize {
  resize: both;
}

.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}

.cursor-text {
  cursor: text;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.select-none {
  user-select: none;
}

.select-auto {
  user-select: auto;
}

.select-text {
  user-select: text;
}

.select-all {
  user-select: all;
}
