@import './theme.scss';

:root {
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary: var(--systemColor);
  --el-color-success: #27ce22;
  --el-color-warning: #e6a23c;
  --el-color-danger: #f56c6c;
  --el-color-error: #f56c6c;
  --el-color-info: #909399;
  --el-text-color-primary: var(--textColor);
  --el-text-color-placeholder: #c0c4cc;
  --el-border-color-base: #dcdfe6;
  --el-background-color-base: #f5f7fa;
  --el-font-color-disabled-base: #bbb;
}

// BUTTON
.el-button--primary {
  --el-button-font-color: #ffffff;
  --el-button-background-color: var(--systemColor);
  --el-button-border-color: var(--systemColor);
  --el-button-hover-color: var(--systemColor);
  --el-button-active-font-color: #e6e6e6;
  --el-button-active-background-color: var(--systemColor);
  --el-button-active-border-color: var(--systemColor);
  &:hover,
  &:focus {
    background-color: var(--systemColor);
    color: #ffffff;
    border-color: var(--systemColor);
  }
}

// HEADER
.el-header {
  color: var(--headerTextColor);
  background-color: var(--headerBgColor);
  .el-icon {
    color: var(--headerTextColor);
  }
}

// SIDEBAR
.el-aside {
  color: var(--sidebarTextColor);
  background-color: var(--sidebarBgColor);
}

.el-menu {
  color: var(--sidebarTextColor);
  background-color: var(--sidebarBgColor);
  .el-menu-item,
  .el-sub-menu__title {
    color: var(--sidebarTextColor);
  }
  .el-menu-item:hover,
  .el-sub-menu__title:hover {
    background-color: var(--systemColor);
  }
  // when el-menu is horizontal
  &.el-menu--horizontal {
    color: var(--headerTextColor);
    background-color: var(--headerBgColor);
    .el-menu-item,
    .el-sub-menu__title {
      color: var(--headerTextColor);
    }
    .el-menu-item:hover,
    .el-sub-menu__title:hover {
      background-color: var(--systemColor);
    }
  }
}

// MAIN

.el-main {
  background-color: var(--contentBgColor);
}

// CARD
.el-card {
}

// DRAWER
.el-drawer {
}

// INPUT

.el-input {
  background-color: var(--contentBgColor);
}

// ICON
.el-icon {
}

// POPPER
.el-popper {
  .el-menu--horizontal .el-menu .el-menu-item,
  .el-menu--horizontal .el-menu .el-sub-menu__title {
    background-color: var(--headerBgColor);
  }
  .el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
  .el-menu--horizontal .el-menu-item:not(.is-disabled):focus {
    background-color: var(--systemColor);
  }
}

.dark-theme {
  // BUTTON

  // INPUT
  .el-input__inner {
    background-color: var(--contentBgColor);
  }

  // DATE-PICKER
  .el-picker-panel {
    background-color: var(--contentBgColor);
  }
  .el-picker__popper.el-popper[role='tooltip'] {
    background-color: var(--contentBgColor);
  }

  // SELECT
  .el-select__popper.el-popper[role='tooltip'] {
    background-color: var(--contentBgColor);
  }

  // CARD
  .el-card {
    background-color: var(--contentBgColor);
  }

  // POPPER
  .el-popper .el-popper__arrow::before {
    background-color: var(--contentBgColor);
  }

  // TRANSFER
  .el-transfer-panel {
    background-color: var(--contentBgColor);
    .el-transfer-panel__header {
      background-color: var(--contentBgColor);
    }
    .el-transfer-panel__footer {
      background-color: var(--contentBgColor);
    }
  }

  // CALENDAR
  .el-calendar {
    background-color: var(--contentBgColor);
    color: var(--textColor);
    .el-calendar-table {
      .el-calendar-day:hover {
        color: var(--contentBgColor);
      }
      td.is-selected {
        color: var(--contentBgColor);
      }
    }
  }

  // TREE
  .el-tree {
    background-color: var(--contentBgColor);
    color: var(--textColor);
    .el-tree-node__content:hover {
      background-color: transparent;
    }
  }

  // TABS
  .el-tabs__item {
    color: var(--textColor);
  }

  // TABLE
  .el-table {
    .el-table__cell {
      background-color: var(--contentBgColor);
    }
  }

  // MASK
  .el-loading-mask {
    background-color: var(--contentBgColor);
  }
}
