:root {
  --systemColor: #009688;
  --sidebarBgColor: #aaa;
  --sidebarTextColor: #000;
  --headerBgColor: #ffffff;
  --headerTextColor: #000;
  --textColor: #000;
  --borderColor: #dcdfe6;
  --contentBgColor: #fff;
}

.dark {
  --systemColor: #009688;
  --sidebarBgColor: #000;
  --sidebarTextColor: #fff;
  --headerBgColor: #000;
  --headerTextColor: #fff;
  --textColor: #fff;
  --borderColor: #dcdfe6;
  --contentBgColor: #000;
}

$systemColor: var(--systemColor);
$sidebarBgColor: var(--sidebarBgColor);
$sidebarTextColor: var(--sidebarTextColor);
$headerBgColor: var(--headerBgColor);
$headerTextColor: var(--headerTextColor);
$textColor: var(--textColor);
$borderColor: var(--borderColor);
$contentBgColor: var(--contentBgColor);
